
    <div class="header-search">
        <input class="input-text" type="text"  placeholder="search ...">  
               
        <button class="search-btn" (click)="search()"><img class="search-img" src="assets/img/search.png"></button>
        
    </div>