.header-search {
    display: flex;
    direction: row;
    justify-content: center;
     
    
}

.input-text {
    padding: 15px;
     border-radius: 10px 0px 0px 10px; 
    border: 1px solid #c7bdbd;
    width: 500px;
    
    height: 0.5em;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 #00000033;
}
.input-text:hover{
    background: whitesmoke;
}
.search-btn {
    background: white;
    color: #FFF;
    border: none;
    border-radius: 0px 10px 10px 0px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    width: 40px;
    box-shadow: 0 4px 8px 0 #0000007a;
}
.search-btn:hover{
    background: orange;
    color: #FFF;
    border: none;
    border-radius: 0px 10px 10px 0px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    width: 40px;
    box-shadow: 0 4px 8px 0 #0000007a;
}
.search-img{
    width: 20px;
    
}

