.basic{
    background-color: #00001a; 
    width: 0 auto;
    height: 9vh;  
}
.footer-text{
    padding-left: 30%;
    text-align: center; 
    color: aliceblue;   
    line-height: 12px;
    
}
.contact-point{
    width: 50%;
    display:flex;
    flex-direction: row; 
    justify-content: space-evenly;
   
}
