<div class="basic">
  <div class="footer-text">
    <br>
    <div class="contact-point">
      <div>Facebook</div>
      <div>Twitter</div>
    </div>
    <br>
    <div class="contact-point">
      <div>Home </div>
      <div>|</div>
      <div>About Us </div>
      <div>|</div>
      <div>Contact U</div>
      <div>|</div>
      <div>Privacy </div>
      <div>|</div>
      <div>Terms & Conditions</div>
    </div>
    <br>
    <div class="contact-point">©Shopket 2018. All rights reserved</div>
  </div>
</div>