<div class="header">
    <app-header></app-header>
</div>
<!-- <app-navbar></app-navbar>  -->
<div class="container">
    <app-ads-section></app-ads-section>
    <app-product-card (info)="CompareProd($event)"></app-product-card>
    <app-compare-results *ngIf="compareSectionIsOpened" [Component]="Component" (toggle)="toggleCompareSection($event)"></app-compare-results>
    <app-footer></app-footer>
</div>