
<div class="basic flex-container ">
  <div><img class="header-logo" src="assets/img/logo1.png"></div> 
  <div style="flex-grow: 10"><app-search-box></app-search-box></div>
  <div style="flex-grow: 1 ">Login</div>
  <div style="flex-grow: 1">Signup</div>
</div>

 