.basic{
    background-color: #00001a;
    color: antiquewhite;   
    padding-top: 10px;   
}
.header-logo {
   
    height: 5vh;
    margin-left: 30px;  
}
.header-text{
    padding-left: 25px;
}
.flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-bottom: 10px;
}