.example-card {
    max-width: 200px;
    min-width: 200px;
    background-color:white;
    margin: 0 auto;
    max-height: 250px;
    min-height: 250px;
    font-size: small;
  }
  .example-header-image {
    background-size: cover;
  }
  .img{
    justify-content: center;
    margin: 0 auto;
    height: 100px;
    width: 100px;
  }
.clickable-row-buttons{
  display:flex;
  flex-direction: row;
}

  .flex-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(230, 230, 230);
}
.title{
  font-size: small;
  
}
.subTitle{
  font-size: x-small;
}