<div class="flex-display">
  <div *ngFor="let data of Getresponse">
    <br>
    <mat-card class="example-card">   
      <div *ngIf="data.Images[0].Url!=''"><img  class="img" src={{data.Images[0].Url}} alt=" "></div>
      <div></div>     
      <div class="title" *ngIf="data.ProductBasicInfo.Title!=''">{{data.ProductBasicInfo.Title}}</div>     
      <div class="subTitle" *ngIf="data.ProductBasicInfo.SubTitle!=''" >{{data.ProductBasicInfo.SubTitle}}</div> 
      <div class="rating" *ngIf="(data.Rating)!=''">Rating : {{data.Rating}}</div>
      <div class="fare"*ngIf="(data.FareDetail.SellingPrice.Amount)!=''"> Price : {{data.FareDetail.SellingPrice.Amount}}</div>
    <br>
    <div class="clickable-row-buttons">
      <div *ngIf="data.ProductUrl!=''"><a href={{data.ProductUrl}}  target="_blank"><button mat-raised-button >Buy</button></a></div>
      <div *ngIf="data.UniqueKey!=''&&data.ProductBasicInfo.Title!=''"><button mat-raised-button  (click)="CompareProduct(data.UniqueKey,data.ProductBasicInfo.Title)" >Compare</button></div>
    </div>
    </mat-card>
  </div>
</div>