/* 
:host {
    box-sizing: border-box;
    display: none;
    position: absolute;
    margin-left: 25%;
    top: 8vh;
    width: 100%;
    height: 78vh;
   
    z-index: 4;
    background: #ccc;
    min-width: 300px;
  }
  :host.is-open {
    display: block;
  } */
  .Container{
    display : block;
    position: absolute;
    top: 7vh;
    height: 92vh;
    width: 100%;
    z-index: 4;
    background: #ccc;

  }
  .product-image{
      justify-content: center;
      margin: 0 auto;
      height: 100px;
      width: 100px; 
  }