<div class="Container">
  <div class="ButtonPosition" >
    
    <button class=" CrossButton" mat-icon-button (click)="CloseSection()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div *ngIf="showContent">
  <div *ngFor="let data of Getresponse.ProductGroups">
    
    <mat-card class="CompareCard">  
      <mat-card-header>
        <div class="seller-logo" *ngIf="data.Products[0].ProductBasicInfo.ProviderName!=''">{{data.Products[0].ProductBasicInfo.ProviderName}}</div>
      </mat-card-header>
      <div *ngIf="data.Products[0].Images[0].Url!=''"><img class="product-image" src={{data.Products[0].Images[0].Url}} alt="image"></div>
      <div *ngIf="data.Products[0].ProductBasicInfo.Title!=''"><mat-card-title >{{data.Products[0].ProductBasicInfo.Title}}</mat-card-title></div>
      <div *ngIf="data.Products[0].ProductBasicInfo.SubTitle!=''"><mat-card-subtitle>{{data.Products[0].ProductBasicInfo.SubTitle}}</mat-card-subtitle></div>
      <div>Description Below</div>
      <div>Images below</div>
      <div *ngIf="data.Products[0].ProductUrl!=''"><a href={{data.Products[0].ProductUrl}} target=_blank><button mat-raised-button>Buy</button></a></div>
      <div *ngIf="data.Products[0].FareDetail.SellingPrice.Amount!=''">Price : {{data.Products[0].FareDetail.SellingPrice.Amount}}</div>
    </mat-card>
  </div>
  
</div>
</div>
